.Logo__image {
  width: 48px;
  height: 48px;
  margin-right: $spacer;
}

.Logo__text {
  font-weight: bold;
  font-size: 32px;

  @include media-breakpoint-up(sm) {
    font-size: 40px;
  }
}

.Logo__tinyText {
  font-size: 1px;
}

.Logo__link {
  @include transition();
  color: inherit;

  &:hover {
    color: inherit;
    text-decoration: none;
    opacity: 0.7;
  }
}
