$font-family-sans-serif: 'PT Sans', sans-serif;
$font-family-serif: Georgia, Times, 'Times New Roman', serif;
$orange: #dd7700;
$primary: $orange;

@import '~@fortawesome/fontawesome-svg-core/styles.css';
@import '~bootstrap/scss/bootstrap';

@import './HomePage';
@import './Logo';

.font-family-serif {
  font-family: $font-family-serif;
}

.EndorsementsTable__firstRow {
  // Add a very small, 2px box shadow on the bottom of the row
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.EndorsementRow__hasReasoning {
  cursor: pointer;

  & > td {
    background-color: $light;
    &:hover {
      background-color: darken($light, 5%);
    }
  }
}

.EndorsementRow__firstColumn {
  // Add a very small, 2px box shadow on the right of the column
  box-shadow: 2px 0 2px -2px rgba(0, 0, 0, 0.2);
  background-color: $white;

  .EndorsementRow__hasReasoning > & {
    background-color: $light;
  }
}
